.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  --padding: 10px;
}

.Console {
  background-color: black;
  color: greenyellow;
  height: 100%;
  overflow-y: scroll;
  padding: var(--padding);
}

.UserCommand {
  background-color: whitesmoke;
  padding: var(--padding);
  font-size: medium;
}
